@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: rgb(249, 231, 242);
  color: rgb(53, 51, 51);
  font: 400 13px "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: rgb(134, 47, 215);
}
a:visited {
  color: rgb(197, 73, 135);
}
.avatar {
  height: 350px;
  width: 200px;
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 15);
}
.info p {
  color: rgb(112, 55, 55);
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-size: 16px;
}
.info {
  margin-bottom: 20px;
  display: flex;
}
@media (max-width: 700px) {
  .info {
    display: block;
    text-align: center;
  }
}
.info-text {
  margin-left: 30px;
}
.info-text h4 {
  margin-bottom: 10px;
}
.container {
  max-width: 950px;
  margin: auto;
  padding-top: 100px;
}
.list {
  padding: 0 20px;
}
.btn {
  background: #771eec;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
/* .position {
  position: relative;
  border: 4px solid black;
  padding: 20px;
  margin-top: 40px;
  height: 300px;
}
.box {
  position: fixed;
  bottom: 0;
  right: 20px;
  top: 100px;
  width: 50px;
  height: 50px;
  background: #2accf5;
} */
.list li {
  color: rgb(135, 21, 21);
  margin-bottom: 10px;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 20px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
  color: rgb(135, 21, 21);
}
.table tr:nth-child(even) {
}
.contact h2 {
  text-align: center;
}
.card h2 {
  margin-bottom: 10px;
}
.social {
  font-size: 17px;
}
.bg-pink {
  background-color: rgba(225, 130, 165, 0.641);
}
.bg-violet {
  background-color: rgba(213, 125, 219, 0.826);
}
.bg-red {
  background-color: rgba(126, 104, 215, 0.737);
}
.form-group label {
  display: block;
  font-size: 14px;
  color: rgb(135, 21, 21);
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 5px solid #ccc;
  outline: none;
  font-family: inherit;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form-group {
  width: 50%;
  margin-right: 30px;
}
.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
